.Image{ 
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;
  height: auto;
  width: auto;
}

.name{
  margin-top:30px;
  text-align:center;
  font-size: 50px;
}

.action{
  position: absolute;
  padding-top:20px;
  padding-bottom:20px;
  margin-right:80px;
  margin-top:120px;
  right: 40px;
  width: 200px;
  background-color: #b0e0e6;
}