.Image{
  display: block;
  border: 3px solid #C59865;
  padding:3px;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 35em;
  height: auto;
  width: auto;
}

.Box{
   position:absolute;
   width:300px;
   right:0;
   top:0;
   margin-top:100px;
   margin-right:50px;
   text-align:left;
   color:#828282;
}
input[type="image"]{
  outline:none;
}
.dislike:visited{
  outline: none;
}
.like:visited{
  outline: none;
}
.dislike:hover{
    opacity: 0.5;
}
.like:hover{
    opacity: 0.5;
}
.dislike:active{
  outline: none;
}
.like:active{
  outline: none;
}
.Authors{
  -webkit-border-radius: 2;
  -moz-border-radius: 2;	
  border-radius: 2px;

	position:absolute;
	width:300px;
	right:0;
}


.left{
  position:absolute;
  width: 250px;
  margin-left:20px;
  text-align:right;
  color:#828282;
}

.name{
  margin-top:30px;
}

.description{
  -webkit-border-radius: 8;
  -moz-border-radius: 8;	
  border-radius: 8px;

  padding-top:20px;
  padding-bottom:20px;
  background-color: #828282;
}

.container{
  position:relative;
  margin-top:20px;
  padding-bottom:50px;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  height:30px;
 }

.action{
  position:fixed;
  -webkit-filter:opacity(70%);
}

.action ul { 
  display:inline;
}


